<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      #spacer {
        padding: 4px;
      }

      #signup {
        text-align: center;
      }

      #username {
        color: black;
        font-size: 1.5rem;
      }

      .header {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 3rem;
        padding-top: 10%;
      }

      hr {
        border-top: 1px solid white;
        border-bottom: 2px solid black;
        border-radius: 40px;
        width: 30%;
      }

      nav.navbar{
        background-color: rgba(255,255,255,0.8)!important;
        border-bottom: 1px solid black;
      }

      .subheader {
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
      }

      .jumbotron {
        background-color: rgba(0,0,0,0.5);
      }

      .jumbo-txt {
        color: white;
        text-shadow: 1px 1px black;
      }

      body {
        background-color: #ADD8E6;
      }
    </style>


      <title>VQ - Log In</title>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">Vacation Quest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Plans</a>
        </li>
      </ul>
      <form id="btn_space" class="form-inline my-2 my-lg-0">
        <a href="/login"><button class="btn btn-outline-info my-2 my-sm-0" type="button">Log In</button></a>
        <span id="spacer"></span>
        <a href="/signup"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button></a>
      </form>
    </div>
  </nav>
  </head>
  <body>
    <div class="container">
      <div class="text-center jumbotron">
        <h1 class="header"> Log In: </h1>
        <hr>
        <form class="signup-form" action="/login" method="post">
          <p><span id="input-text">Email:<span> &nbsp;&emsp;&emsp;&emsp;<input type="text" name="email" value=""></p>
          <p><span id="input-text">Password:<span> &nbsp;&emsp;<input type="text" name="password" value=""></p>
          <p><input class="btn btn-primary btn-lg" type="submit" name="submit" value="Log In!"></p>
        </form>
      </div>
    </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
